@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,400;1,900&display=swap');

/*Variables*/
$blue: skyblue;
$bgpurple: #6638F0;
$borderstyle: #EFEFEF;
$font-color: #000;
$font-weight: 600;

/*Mixins*/
@mixin spacing {
  margin: 0 auto;
}
@mixin poppins-font {
  font-family: 200 1rem/1.5rem 'Poppins', san-serif;
  color: $font-color;
}

@mixin flexbox {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

/*Main Code*/
html {
    width: 100%;
    text-align: center;
}

body {
	@include poppins-font;
	margin: 0;
	padding: 0;
}

.box {
	@include poppins-font;
	@include flexbox;
    position: absolute;
    display: flex;
    align-items: center;
    width: 37.75rem;
    height: 13rem;
    left: 50%;
    top: 50%;
    background: linear-gradient(90deg, rgba(248, 248, 248, 0) 0%, #f9f8fb 50%), #ffffff;
    border: 1px solid $borderstyle;
    border-radius: 0.25rem;
    padding: 1.25rem;
    transform: translate(-50%, -50%);
}

.maincontent {
	@include poppins-font;
	display: flex;
	justify-content: center;
	flex-flow: column;
	width: auto;
	text-align: left;
	padding: 20px;
   	h2{
    font-size: 1.5rem;
    font-weight: $font-weight;
	line-height: -1rem;
    }
    h3{
    font-size: 1rem;
    font-weight: 400;
    }
}

.button {
	@include poppins-font;
    text-align: left;
	background-color: $bgpurple;
  	border: none;
  	color: #fff;
  	padding: 1rem 1rem;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1rem;
  	margin: 0.25rem;
  	transition-duration: 0.4s;
  	cursor: pointer;
    a {
        margin-left: 1.25rem;
        text-decoration: none;
        color: $bgpurple;
    }
	#open {
	width: 35%;
}
}

.modal-container {
	@include flexbox;
    width: 46rem;
    height: 34rem;
    border-radius: 0.25rem;
    overflow: hidden;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    transform: scale(0);
    top: 0; bottom: 0; left: 0; right: 0;
    transition: 4ms;
     p{
        text-align: left;
    }
}

.gradient-effect {
	@include spacing;
    width: 24rem;
    background: $bgpurple;
    background-image: linear-gradient(154deg, $bgpurple 0%, $blue 100%);
    height: 100%;
}

.popup {
    position: relative;
    background: rgb(250,250,250);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(248,248,250,1) 80%);
    padding: 0.563rem 0.875rem;
    font-size: 1rem;
    font-weight: $font-weight;
    border: none;
    width: 19.563rem;
    padding: 2.313rem;
	text-align: left;
    h2 { 
        font-size: 1.5rem;
        font-weight: 600;
	}
    p {
    	font-size: 1rem;
   	    font-weight: 400;
    }
}

.popup-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
    }

#close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.debug {
    border: 2px solid;
}

/*MEDUA QUERIES*/
@media screen and (min-width: 480px) {
  .element img {width: 200px; float: left;}
  #close {margin-left: 216px;}
}
